.header {
    text-align: center;
    background: #ecf0f1;
    padding: 8px;
}
.form {
    padding: 10px;
}

.confirm-button {
    display: flex;
    button {
        margin-left: auto;
    }
    // display: block;
}