.form-field{
    padding: 15px;
}

.participants-title{
    padding: 15px;
    font-size: 20px;
    opacity: 0.7;
}
.title{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    opacity: 0.7;
    /* border-bottom: solid;
    border-bottom-width: 2px; */
}

.confirm-footer{
    padding: 30px;
    display: flex;
}

.confirm-footer > button{
    margin-left: auto;
}