<div class="container">
    <div class="room-list">
        <app-simple-list (plussButtonAction)="registeringRoom=true" (itemEvent)="selectRoom($event)" title="Rooms" [items]="user?.rooms"></app-simple-list>
        <div *ngIf="registeringRoom" class="register-room">
            <app-simple-form (confirmEvent)="registeringRoomEvent($event)" (cancelEvent)="registeringRoom=false" title="Register room" placeholder="Room name"></app-simple-form>
        </div>
    </div>
    <app-bills-list [room]="room" [data]="data"></app-bills-list>
</div>
<!-- <button (click)="openDialog()">aqui</button> -->
<!-- <app-register-bill></app-register-bill> -->